##### How Binning Helps

1. Non-linear relationship with target
   - Binning can capture non-linear patterns that a linear model might miss.

2. Skewed distribution
   - Binning smooths out skewness and reduces the impact of extreme values.

3. Interpretability is key
   - Easier for business users to understand ranges like "age 18â€“25" than a specific value like "age = 23."

4. Model prone to overfitting
   - Binning reduces granularity, leading to fewer splits and less overfitting.

5. Need to reduce cardinality
   - Helps when a numeric column has too many unique values.

6. Sparse or noisy data
   - Binning groups rare or noisy values to improve signal strength.

In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#### 2. Basic Prosseding

In [15]:
df = pd.read_csv("data/processed/CEHHbInToW_calculated_outliers.csv")
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42.00,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42.00,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,38.91,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43.00,2,125510.82,1,1,1,79084.10,0

- we are going to add binning to credit scores also It is acceptable to add binning to Age and Tuner columns as well but migh not for salary ...

350 - 580 => 'Poor'
580 - 670 => 'Fair'
670 - 740 => 'Good'
740 - 800 => 'very Good'
800 - 850 => 'Excellent'

In [16]:
def custom_binning_credit_score(score):
    if score < 580:
        return 'Poor'
    if score < 670:
        return 'Fair' 
    if score < 740:
        return 'Good'
    if score < 800:
        return 'Very Good'
    if score < 850:
        return 'Excellent'
    else:
        assert True , 'credit score cant go beyound 850'


df['CreditScoreBines'] = df['CreditScore'].apply(custom_binning_credit_score)
## apply a function along either axis (rows or columns) of a DataFrame or to each element of a Series
df
del df['CreditScore']
df

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBines
0,France,Female,42.00,2,0.00,1,1,1,101348.88,1,Fair
1,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0,Fair
2,France,Female,42.00,8,159660.80,3,1,0,113931.57,1,Poor
3,France,Female,38.91,1,0.00,2,0,0,93826.63,0,Good
4,Spain,Female,43.00,2,125510.82,1,1,1,79084.10,0,None
...,...,...,...,...,...,...,...,...,...,...,...
9995,France,Male,39.00,5,0.00,2,1,0,96270.64,0,Very Good
9996,France,Male,35.00,10,57369.61,1,1,1,101699.77,0,Poor
9997,France,Female,36.00,7,0.00,1,0,1,42085.58,1,Good
9998,Germany,Male,42.00,3,75075.31,2,1,0,92888.52,1,Very Good
9999,France,Female,28.00,4,130142.79,1,1,0,38190.78,0,Very Good

##### What `assert` does

- `assert` is used in Python to **check if a condition is True**.  
- If the condition is **False**, it raises an `AssertionError` with the given message.  

**Syntax:**  

```python
assert condition, "error message if condition is False"

In [17]:
df.to_csv("data/processed/CEHHbInToW_binning_applied.csv", index=False)